.galeria-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
}

.image-gallery-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

/* Quitar fondo del componente */
.image-gallery {
  background: transparent !important;
}

/* Para evitar bordes blancos del slider */
.image-gallery-content,
.image-gallery-slide-wrapper {
  height: 100%;
}
